<section class="page-post">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12">
        <h2 class="page-post__title">Page posts</h2>

        {{#each posts}}
          <div class="post">
            <div class="row">
              <div class="col col-lg-8">
                <div class="post__head">
                  <h5>Auther</h5>
                  <p>{{this.createdAt}}</p>
                </div>
                <h3 class="post__title"><a
                    href="/posts/{{this.slug}}"
                  >{{this.title}}</a></h3>
                <p class="post__description">{{this.content}}</p>
              </div>
              <div class="col col-lg-4">
                <div class="post__image">
                  <img src="{{this.image}}" alt="Image Javascript" />
                </div>
              </div>
            </div>
          </div>
        {{/each}}


      </div>
    </div>
  </div>

</section>